#topp {
  display: flex;
  width: 1500px;
  height: 120px;
  margin: auto;
  justify-content: space-between;
}
#logoClick {
  height: 110px;
  width: 220px;
  cursor: pointer;
}
#toppp {
  display: flex;
  width: 1500px;
  height: 50px;

  margin-left: 65px;
  justify-content: space-between;

  margin: auto;
  align-items: center;
}
#topp > div {
  text-align: center;
}
#topp1 {
  width: 90%;
  margin-left: 65px;
}
h4 {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
}

#mid {
  display: grid;
  grid-template-columns: 450px 150px 150px 150px 150px;
  grid-template-rows: auto;
  gap: 20px;
  width: 90%;
  margin: auto;
  background-color: #f1f1f1;
}
#mid > div {
  text-align: center;
  padding: 10px;
}
#formdiv {
  width: 1500px;
  margin: auto;
  box-sizing: border-box;
  padding: 20px;

  font-size: 18px;
}
input[type="text"] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type="submit"] {
  background-color: #04aa6d;
  border: none;
  height: 45px;
  width: auto;
  display: flex;
  box-sizing: border-box;
  padding: 13px;
  color: white;

  text-decoration: none;
  margin: 10px 2px;
  cursor: pointer;
}
#cart {
  display: flex;
  border: 2px solid #e9eaeb;
  gap: 5px;
  width: 1500px;
  margin: auto;
  margin-top: 30px;
}
#cart > div {
  height: auto;
  padding: 15px;
  margin-left: 0px;
  margin-top: 10px;
}

#cart > div > p,
#body > p > p {
  margin: 0;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 15px;
  color: #333333;
}
#cart > div:first-child > p {
  color: #999999;
}

#mid2 {
  width: 90%;
  margin: auto;
  text-align: center;
  height: 50px;
}
#mid2 > div {
  padding: 10px;
  padding-top: 10px;
  text-align: center;
  margin-top: 40px;
}
#mid3 {
  display: grid;
  grid-template-columns: 350px 400px 150px;
  grid-template-rows: auto;
  gap: 50px;
  width: 90%;
  height: 120px;
  margin: auto;
}
* {
  font-family: "Open Sans", sans-serif;
}
#mid3 > div {
  text-align: center;
  padding: 10px;
}
button {
  background-color: red;
  font-size: 18px;
  color: aliceblue;
  height: 50px;
  width: 280px;
}
#pinkdiv {
  width: 1500px;
  background-color: #fff3f3;
  height: 30px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
#pinkdiv > p {
  padding: 10px;
  color: lightpink;
  font-family: sans-serif;
}
#mid4 {
  display: flex;
  width: 90%;
  height: 100px;
  margin-left: 65px;
  margin-bottom: 0%;
}
#recomendation {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 180px;
  width: 90%;
  margin: auto;
}
#recomendation > img {
  padding-top: 40px;
}

#mid4 > div {
  width: 1500px;
  margin: auto;
  display: flex;
  justify-content: center;
}
#coup {
  /* display: grid;
  grid-template-columns: 760px 400px;
  grid-template-rows: repeat(1, 300px); */
  width: 1500px;
  margin: auto;
  margin-top: 30px;
  border: 2px solid #e9eaeb;
  gap: 20px;
  margin-bottom: -15px;
  display: flex;
  justify-content: space-between;
}
#coup > div {
  width: 50%;
  padding: 20px;
  margin: 20px;
}

#coup > div:last-child {
  box-sizing: border-box;
  padding-left: 25%;
}
#gtotal {
  font-size: 24px;
  color: red;
}
