body{
    font-family: "Open Sans", sans-serif !important;
}
#container{
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 50px;
}
#leftcontainer{
    height: 500px;
    width: 500px;
}
#leftcontainer >img{
    height: 500px;
    width: 500px;
}
#rightcontainer{
    width:60%;
}
#inrightcontainer>div>h1{
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}
.info1{
    display: flex;
    font-size: 14px;
    color: #999;
    /* justify-content: space-evenly; */
}
.info1>p{
    margin-right: 20px;
}
#inrightcontainer1{
    color: #999;
    background-color: #f3f3f3;
    padding: 20px 0 20px 20px;
    height: 120px;
    /* border-top: 40px solid #ff9c01; */

}
#flashbar{
    background-color: #ff9c01;
    height: 40px;
    width: 100%;
    margin-top: -20px;
    margin-left: -20px;
    padding-right: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
#flashbar >p{
    margin-left: 15px;
}
#pricecolumn{
    display: flex;
    font-size: 14px;
}
#pricecolumn >p{
    display: inline-block;
    margin-right :10px;
    margin-top: auto;
    margin-bottom: auto;
}

#pricecolumn>p:first-child{
    margin-right: 50px;
}

#pricecolumn>p:nth-child(2)
{
    font-size: 25px;
    line-height: 38px;
    color: #ff9c01;
    font-weight: 700;
}
#pricecolumn >p:nth-child(3)
{
    text-decoration: line-through;
}

#pricecolumn~span{
    font-size: 14px;
    color: #333;
    display: inline-block;
    margin-left:120px ;
}
.coupons>a{
    margin: auto 20px;
}
/* #pricecolumn>p:nth-child(4)
{
    width: 74px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background-color: #ff9c01;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
} */
.buyinfo{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.buyinfo>button:first-child{
    background-color: #fff5e5;
    color: #ff9c01;
    border: 1px solid #ff9c01;
    box-sizing: border-box;
    cursor: pointer;
    width: 172px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-right: 10px;
}
.buyinfo>button:nth-child(2){

    color: #fff;
    background-color: #ff9c01;
    cursor: pointer;
    border: 1px solid #ff9c01;
    box-sizing: border-box;
    width: 172px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-right: 10px;
}
.buyinfo>a{
    font-size: 14px;
    color: #333;
    font-weight: 600;
    padding-right: 6px;
    display: inline-block;
    height: 28px;
    text-align: center;
    line-height: 28px;
    text-indent: 30px;
}
.flexmode{
    display: flex;
    font-size: 14px;
}

.flexmode > p:first-child{
    margin-right: 50px;
    font-size: 14px;
    color: #999;

}
.boxmode{
    border: 1px solid #074ea3;
    padding: 5px 15px;
    display: flex;
}
.qtymode{
    display: flex;
}
.paymentimg{
    height:36px;
    width: 103px;
    margin-top: 15px;
}
.paymentimg>img{
    height:36px;
    width: 103px;
}
#container4{
    height:328px;
    width: 80%;
    margin: 14px auto;
    padding: 14px;
    position: relative;
    /* border: 1px solid red; */
    background-color: white;
}
#innerdiv4{
    display: flex;
    height: 34px;
    /* border: 1px solid red; */
    line-height: 34px;
    justify-content: space-between;
    overflow: hidden;
}
#innerdiv4>h2{
    margin-top: 0px;
    font-size: 18px;
}
#innerdiv4>a{
    font-size: 13px;
    text-decoration: none;
}
#innercontainer4{
    display: flex;
    margin-top:14px;
    overflow: hidden;
}
.incontainer4{
    z-index: 1;
}
#innercontainer4>div>img{
    height:160px;
    width:160px;
}
#innercontainer4>div{
    display: inline-block;
    height: 250px;
    width: 250px;
    /* border: 1px solid red; */
    line-height: 0.2;
    margin-right: 8px;
    padding: 8px;
}
#innercontainer4 >div>p:nth-child(2){
    height: 32px;
    width: 250px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    margin: 8px auto;
}
#innercontainer4 >div>p:nth-child(3)
{
    font-size: 18px;
    display: block;
}
.prev, .next{
    /* display: none; */
    font-size: 40px;
    font-weight: lighter;
    position: absolute;
    bottom:140px;
    padding: 1%;
    background-color: lightgray;
    border-radius: 50%;
    z-index:2;
}
.next{
    position: absolute;
    left:95%;
}
.buttonDisplay{
    display: block;
    background-color: whitesmoke;
}
.fade{
    display:none;
}