
.navbar {
        height: 25px;
        width:100%;
        background-color: white;
        display:flex;
        gap: 10px;
        padding-top: 1%;
        justify-content: right;
        border-bottom: 1px solid grey
        }
.box1{
      height: 30px;
      width: 100%;
      background-color: black;
      padding: 30px;
      display:flex;
      margin-right: 10%;
      margin-left: 10%;
      justify-content: space-around;
     }
.one{
    margin-left:30% ;
    margin-right: 1%;
}
.two{
  margin-left: 1%;
  margin-right: 1%;
}
.three{
  margin-right: 10%;
}
.navbar1{
        height: 60px;
        width:100%;
        background-color: white;
        display:flex;
        justify-content: left;
        margin-left: 10%;
       }
.box2{
  height: 30px;
      width: 100%;
      background-color: black;
      padding: 30px;
      display:flex;
      margin-right: 5%;
      margin-left: 13%;
      margin-top: 1%;
      justify-content: space-around;
}
.four {
  width: 40%;
  height: 30px;
  padding: 5px;
  border: 1px solid blue;
  box-sizing: border-box;
  margin-left: 2%;
  margin-right: 5%;
  margin-top: 1%;
  display: flex;
}
.five{
padding: 10px;
margin-top: 10px;
}
.six{
padding: 10px;
margin-top: 10px;
}
.navbar2{
  height: 20px;
  width:100%;
  background-color: white;
  display:flex;
  gap: 10px;
  justify-content: left;
  margin-left: 11%;
  }
.seven{
  margin-left: 1%;
}


.dropdown{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width:15%;
  z-index: 1;
}

.dropdown ul {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left; 
}
.menu:hover .dropdown {
  display: block;
}
ul > li > a{
  text-decoration: none;
  color: gray;
}
ul > li {
  padding:10px;
  text-align: left;
  left: 100%;
}
ul > li :hover{
  text-decoration: none;
  color: black;
}


